<form action="/signup" method="post">
  <p>Username: <input type="text" name="name"></p>
  <p>Password: <input type="password" name="password"></p>
  <input type="submit" value="Signup">
</form>

<h4>Or, <a href="/signin">Sign In </a> </h4>