<form action="/signin" method="post">
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="password" name="password"></p>
  <input type="submit" value="Sign In">
</form>

<h4>Or, <a href="/signup"> Sign Up</a></h4>