<h1>Welcome to freeloader!<h1>

<%#=links for signup, and login%>

<h4><a href="/signin">Sign In</a></h4>
<h5>Or</h5>
<h4><a href="/signup">Sign Up</a></h4>
<h5>Or</h5>
<h4><a href="/logout">Log Out</a><h4>