<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <title>Freeloader</title>
  <link rel="stylesheet" href="/stylesheets/main.css"/>
</head>
<body>
  <div class="container">
      <%= yield %>
  </div>
</body>